<h1>Statistics for <%=@survey.title%></h1>

<div id="total_takers">
	<p>Number of times survey has been taken : <%=@survey.total_takers%></p>
</div>
<div id="question_stats_list">
	<%@survey.questions.each_with_index do |question,index|%>	
	<div id="question_stat">
		<%=index+1%>. <%=question.body%>
	</div>
	<div id="choice_stat_list">
		<%question.choices.each do |choice|%>
		<div id="choice_stat">
			<div><%=choice.body%><div>
				<p><%=@survey.num_times_chosen(choice.id)%></p>
				<p><%=@survey.percentage(choice.id)%> % </p>
			</div>
			<%end%>
		</div>
		<%end%>
</div>